* {
    margin: 0;
    font-family: Times New Roman;
    text-align: center;
}

#img-div {
    display: flex;
    flex-direction: column;
}

#image {
    max-width: 100%;
}

#title {
    color: black;
    font-size: 4vw;
    position: absolute;
    margin-left: 13%;
    margin-top: 10%
}

#img-caption {
    margin-top: 60px;
    font-size: 22px;
    margin-right: 18%;
    margin-left:  18%;
    font-style: italic;
    margin-bottom: 60px;
}

#details {
    background-color: rgb(216, 228, 230);
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}

#tribute-title {
    margin-top: 80px;
    font-size: 40px;
    margin-block-end: 0.2em;
}

#tribute-text {
    margin-top: 5px;
    font-size: 30px;
}

#tribute-info {
    margin-top: 50px;
    line-height: 1.4;
    margin-right: 20%;
    margin-left:  20%;
}

#brent-image {
    max-width: 100%;
    margin: 0 20%;
    padding-top: 40px;
}
/* TODO change h4 class naame */ 
h4 {
    margin-top: 40px;
}

#tribute-link {
    margin-top: 10px;
    margin-bottom: 30px;
}

 @media screen and (max-width: 375px) {
    #img-caption {
        font-size: 16px;
    }

    #tribute-title {
        font-size: 30px;
    }

    #tribute-text {
        margin-top: 5px;
        font-size: 25px;
    }

    #tribute-info {
        margin: 0 10%;
        font-size: 16px;
    }

    #brent-image {
        margin-right: 10%;
        margin-left:  10%;
    }
}