body {
    font-family: Roboto;
    text-align: center;
  }
  #img-div {
    display: flex;
    flex-direction: column
  }

  #image {
    max-width: 100%;
    max-height: 800px;
    border-width: 25px;
    border-color: #F5F5F5;
    border-style: solid;
    position: relative;
  }

  #title {
    color: rgb(27, 26, 26);
    font-size: 40px;
    position: absolute;
    margin-left: 15%;
    margin-top: 15%
  }

  #img-caption {
    font-size: 16px;

  }

  #tribute-info {
     /* margin-top: 40px; */
  }

   h4 {
     line-height: 1.4;
     margin-right: 250px;
     margin-left: 250px; 
  }



